<div class="col-md-4" *ngFor="let game of games">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{game.titulo}}
            <button [routerLink]="['/games/edit', game.id]" class="btn btn-info">
                <i class="fas fa-pen"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteGame(game.id)" >
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="game.foto" class="card-img-top" alt="">
        <div class="card-body">
            <p>{{game.descripcion}}</p>
            

            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <a class="btn btn-info btn-block"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Description
                      </a>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      {{game.d_completa}}
                    </div>
                  </div>
                </div>
        </div>

        </div>
    </div>
</div>